body{
    background: linear-gradient(35deg,#111111, #333333, #666666, #999999);
    background-attachment: fixed;
    background-size: cover;
}

#superior {
    background-color: #666666;
    width: auto;
    height: 15vh;
    margin-top: -22px;
    margin-left: -8px;
    margin-right: -8px;
}

#subsuperior {
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 50px;
}

#titulo {
    font-family: 'Courier New', Courier, monospace;
    margin-top: 5vh;
    font-size: 50px;
    color: white;
    cursor: default;
    transition: 0.5s;
}

#titulo:hover {
    filter: drop-shadow(0px 0px 11px rgb(255, 0, 0))
}